@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Rock+Salt&display=swap');
/* font-family: 'Open Sans', sans-serif;
font-family: 'Rock Salt', cursive; */
:root {
    --primary-color: #00698B;
    --secondary-color: #E66912;
    --accent1-color: #F2F1E8;
    --accent2-color: #050533;
    --heading-font: 'Rock Salt', cursive;
    --paragraph-font: 'Open Sans', sans-serif;
    --nav-background-color: #00698B;
    --nav-link-color: #000;
    --nav-hover-link-color: #E66912;
    --nav-hover-background-color: #fff;
}
body {
    max-width: 960px;
    font-family: var(--paragraph-font);
    padding: 20px;
}
/* h1, h2, h3, h4, h5, h6 {
    color: var(--primary-color);
    font-family: var(--heading-font);
} */
header {
    padding: 1.5rem 0; 
    background-color: var(--nav-background-color);
    display: grid;
    justify-items: center;
    align-items: center;
    justify-content: space-evenly;
}
header > img {
    grid-column: 2/3;
    grid-row: 1/2;
    border-radius: 3em .5em;
    width: 70%;
}
p {
    padding: .5em;
    margin: 0;
}
header nav {
    grid-column: 3/7;
    /* background-color: var(--accent1-color); */
    font-size: 1.2rem;
    display: flex;
    flex: 1 1 100%;
    
}
header nav a {
    display: block;
    text-decoration: none;
    padding: .5rem 1.5rem;
    border-bottom: var(--accent1-color) solid .5px;
    text-align: center;
}
header nav a:link, header nav a:visited, .wf {
    color: var(--accent1-color)
}
header nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
    border-radius: .25em;
    border: none;
}
div.hero {
    position: relative;
}
h1, article {
    position: absolute;
}
h1 {
    color: var(--accent1-color);
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #0000009e;
    padding: 1rem 0;
    width: 100%;
    text-align: center;
    font-family: var(--heading-font);
}
article {
    color: var(--accent1-color);
    top: 60%;
    left: 50%;
    transform: translate(-50%, -40%);
    border-radius: .3em;
    background-color: #00688b97;
    padding: .8rem;
    box-shadow: 0 0 4px var(--nav-background-color);
    width: 90%;
}
article p {
    color: var(--nav-hover-background-color);
}
.hero > img {
    display: block;
    width: 100%;
    height: auto;
}
article > img {
    display: block;
    float: right;
    width: 150px;
    height: auto;
}
nav a img {
    width: 50px;
    padding: .4rem;
}
footer {
    display: grid;
    background-color: var(--nav-background-color);
    padding: 1rem;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
footer nav {
    display: flex;
}
footer p {
    /* grid-column: 1/2; */
    color: var(--accent1-color);
    align-content: center;
}
footer nav a {
    text-decoration: none;
}
footer nav {
    /* grid-column: 2/4; */
    justify-self: right;
}
.history > img {
    width: 100%;
    height: auto;
    float: right;
    justify-self: center;
    align-self: center;
}
.history, .adventure, .our-team, #contact, .format-item, .newsletter, .news-email, .home-advantages figure, .right figure{
    display: grid;
}
.history {
    align-content: center;
}
.history h2, .adventure h2 {
    grid-row: 1;
    grid-column: 1/4;
    text-align: center;
    margin-bottom: 0;
}
.history img {
    grid-row: 2/3;
    grid-column: 2/3;
}
.history .p-1 {
    grid-column: 1/2;
    grid-row: 2/3;
    padding: 1em;
    margin-top: 0;
}
.history .p-2 {
    grid-column: 3/4;
    grid-row: 2/3;
    padding: 1em;
    margin-top: 0;
}
.adventure div {
    display: flex;
}
figure img {
    max-width: 100%;
    height: auto;
    border-radius: .3em;
}
figure {
    margin: 1em;
    color: var(--accent1-color);
    /* opacity: .8; */
    font-size: small;
    background-color: var(--nav-background-color);
    border-radius: .3em;
}
figcaption {
    padding: 0 1em .5em ;
}
.our-team h2, .h2-style {
    grid-row: 1;
    grid-column: 1/4;
    margin-bottom: 0;
    justify-self: center;
    color: var(--primary-color);
    font-family: 'Rock Salt', cursive;
}
.our-team div {
    display: flex;
}
#grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 1em 9rem 1em 2em;
}
form, #contact {
    margin: 0 .5em;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 2fr;
}
fieldset {
    display: grid;
    gap: .6em;
    background-color: #f7f7f7;
    border: 1px solid #dfdfdf;
    border-radius: .25em;
    padding: 1rem;
    font-size: large;
}
.circle {
    margin: .05em 0;
}
input, textarea {
    padding: .25em;
    font-size: large;
    /* margin: .25em .25em ; */
}
input[type="radio"] {
    transform: scale(1.5);
    width: 1.25em;
    margin: .5em;
}
button {
    display: grid;
    /* margin: .5em; */
    padding: .7em 1.5em;
    font-size: large;
    border: none;
    background-color: #3b3b3b;
    color: #dfdfdf;
    border-radius: .25em;
    justify-content: left;
}
button:hover {
    background-color: var(--primary-color);
    color: var(--accent1-color);
    cursor: pointer;
}
#company-info {
    border: 1px solid #dfdfdf;
    background-color: #f7f7f7;
    border-radius: .25em;
    padding: 1em;
    justify-self: flex-start;
}
iframe {
    margin: 1em 0;
}
.caps {
    /* display:none; */
}
.figcaption:hover .caps {
    display: block;
}
.adventure {
    border-top: 1px solid var(--accent1-color);
    margin: 0 1rem ;
}
.book {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    margin: 1rem auto;
}
.book p {
    text-align: center;
}
#book-button {
    padding: 1.5rem 4rem;
    margin-top: .5rem;
}
table {
    border: 0;
    border-collapse: collapse;
    margin: 2rem auto;
}
th {
    background-color: #f0f0f0;
    border-collapse: collapse;
}
td, th {
    border-bottom: 1px solid #f0f0f0;
    padding: 0.4em 1rem;
}
.newsletter {
    /* padding: 1em; */
}
.newsletter fieldset {
    text-align: center;
    margin: 1.5em 7em;
    padding: 0 6em;
}
fieldset h2 {
    margin: 1em 0 0;
}
fieldset p {
    padding: 0;
    font-size: small;
    color: #a8a8a8;
}
.news-email {
    gap: .25em;
    margin: .5em;
    margin-bottom: 1.5em;
}
.news-email label{
    grid-column: 1/5;
}
.news-email button{
    grid-column: 5/6;
    padding: .35em 2em;
    text-align: center;
    align-self: center;
    justify-self: center;
}
article {
    color: var(--accent1-color);
    top: 60%;
    left: 50%;
    transform: translate(-50%, -40%);
    border-radius: .3em;
    background-color: #00688b97;
    padding: .8rem;
    box-shadow: 0 0 4px var(--nav-background-color);
    width: 90%;
}
.home-bn {
    background-color: #030303a5;
    border: none;
    box-shadow: none;
    width: 97.4%;
}
.home-bn button, .news-email button, #book-button, button {
    background-color: #E66912;
    color: #000;
}
.home-bn button:hover, .news-email button:hover, #book-button:hover, button:hover {
    background-color: #00698B;
    color: #fff;
}
.wf {
    text-decoration: none;
}
.home-advantages figure{
    grid-template-columns: .4fr 1fr ;
}
.right figure{
    grid-template-columns: 1fr .4fr;
}
.home-advantages img {
    padding: 1em;
}
.home-advantages figcaption {
    text-align: left;
    margin: 1em;
}
.right figcaption {
    padding: 0;
    margin-right: 0;
}
.right img {
    width: 90%;
    padding: 0;
    margin: 1em;
    
}
.caps {
    display:none;
}
.figcaption:hover .caps {
    display: block;
}