@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Rock+Salt&display=swap');
/* font-family: 'Open Sans', sans-serif;
font-family: 'Rock Salt', cursive; */
:root {
    --primary-color: #00698B;
    --secondary-color: #E66912;
    --accent1-color: #F2F1E8;
    --accent2-color: #050533;
    --heading-font: 'Rock Salt', cursive;
    --paragraph-font: 'Open Sans', sans-serif;
    --nav-background-color: #00698B;
    --nav-link-color: #000;
    --nav-hover-link-color: #E66912;
    --nav-hover-background-color: #fff;
}
body {
    max-width: 960px;
    font-family: var(--paragraph-font);
    padding: 0 20px;
    margin: auto;
}
header {
    padding: 1.5rem 0; 
    background-color: var(--nav-background-color);
    display: grid;
    justify-items: center;
    align-items: center;
    justify-content: space-evenly;
}
header > img {
    grid-column: 2/3;
    grid-row: 1/2;
    border-radius: 3em .5em;
    width: 70%;
}
header nav {
    grid-column: 3/7;
    font-size: 1.2rem;
    display: flex;
    flex: 1 1 100%;
}
header nav a {
    display: block;
    text-decoration: none;
    padding: .5rem 1.5rem;
    border-right: var(--accent1-color) solid .5px;
    text-align: center;
}
header nav a:link, header nav a:visited {
    color: var(--accent1-color)
}
header nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
    border-radius: .25em;
    border: none;
}
div.hero {
    position: relative;
}
h1, article {
    position: absolute;
}
h1 {
    color: var(--accent1-color);
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #000;
    background: var(--nav-link-color);
    padding: 1rem 0;
    box-shadow: 0 0 30px #000;
    opacity: .6;
    width: 100%;
    text-align: center;
    font-family: var(--heading-font);
}
.hero > img {
    display: block;
    width: 100%;
    height: auto;
}
nav a img {
    width: 50px;
    padding: .4rem;
}
footer {
    display: grid;
    background-color: var(--nav-background-color);
    padding: 1rem;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
footer nav {
    display: flex;
}
footer p {
    color: var(--accent1-color);
    align-content: center;
}
footer nav a {
    text-decoration: none;
}
footer nav {
    justify-self: right;
}
.our-team h2 {
    grid-row: 1;
    grid-column: 1/4;
    margin-bottom: 0;
    justify-self: center;
    color: var(--primary-color);
    font-family: 'Rock Salt', cursive;
}
.our-team {
    display: grid;
}
.our-team div {
    display: flex;
}
figure img {
    max-width: 100%;
    height: auto;
    border-radius: .3em;
}
figure {
    margin: 1em;
    color: var(--accent1-color);
    font-size: small;
    background-color: var(--nav-background-color);
    border-radius: .3em;
}
figcaption {
    padding-left: .5em ;
}
p {
    margin: 0;
}
#grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 1em 9rem 1em 0;
}
#contact {
    display: grid;
    grid-template-rows: .25fr .5fr 1fr;
}
form, #contact {
    margin: 0 .5em;
}
fieldset {
    display: grid;
    gap: .5em;
    background-color: #f7f7f7;
    border: 1px solid #dfdfdf;
    align-content: center;
    border-radius: .25em;
    padding: .75rem;
    font-size: large;
}
fieldset div {
    justify-content: stretch;
}
input, textarea {
    padding: .25em;
    font-size: large;
    /* width: 100%; */
}
input[type="radio"] {
    transform: scale(1.5);
    width: 1.25em;
}
button {
    margin: .25em auto;
    padding: .7em 1.5em;
    font-size: large;
    border: none;
    background-color: #3b3b3b;
    color: #dfdfdf;
    border-radius: .25em;
    justify-content: left;
}
button:hover {
    background-color: var(--primary-color);
    color: var(--accent1-color);
    cursor: pointer;
}
#company-info {
    border: 1px solid #dfdfdf;
    background-color: #f7f7f7;
    border-radius: .25em;
    padding: 1em;
    justify-self: flex-start;
}
iframe {
    margin: 1em 0;
}