@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Rock+Salt&display=swap');
/* font-family: 'Open Sans', sans-serif;
font-family: 'Rock Salt', cursive; */
:root {
    --primary-color: #00698B;
    --secondary-color: #E66912;
    --accent1-color: #F2F1E8;
    --accent2-color: #050533;
    --heading-font: 'Rock Salt', cursive;
    --paragraph-font: 'Open Sans', sans-serif;
    --nav-background-color: #00698B;
    --nav-link-color: #000;
    --nav-hover-link-color: #E66912;
    --nav-hover-background-color: #fff;
}
body {
    max-width: 960px;
    font-family: var(--paragraph-font);
    padding: 20px;
}
h1, h2, h3, h4, h5, h6 {
    color: var(--primary-color);
    font-family: var(--heading-font);
}
header {
    padding: 1.5rem 0; 
    background-color: var(--nav-background-color);
    display: grid;
    justify-items: center;
    align-items: center;
    justify-content: space-evenly;
}
header > img {
    grid-column: 2/3;
    grid-row: 1/2;
    border-radius: 3em .5em;
    width: 70%;
}
p {
    color: var(--nav-link-color);
}
header nav {
    grid-column: 3/7;
    background-color: var(--accent1-color);
    font-size: 1.2rem;
    display: flex;
    flex: 1 1 100%;
    
}
header nav a {
    display: block;
    text-decoration: none;
    padding: .5rem 1.5rem;
    border: var(--accent2-color) solid .5px;
    text-align: center;
}
header nav a:link, header nav a:visited {
    color: var(--nav-link-color)
}
header nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}
div.hero {
    position: relative;
}
h1, article {
    position: absolute;
}
h1 {
    color: var(--accent1-color);
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #000;
    background: var(--nav-link-color);
    padding: 1rem 0;
    box-shadow: 0 0 30px #000;
    opacity: .6;
    width: 100%;
    text-align: center;
}
article {
    color: var(--accent1-color);
    top: 60%;
    left: 50%;
    transform: translate(-50%, -40%);
    /* border: 1px solid var(--nav-link-color); */
    background-color: var(--nav-background-color);
    padding: .8rem;
    box-shadow: 0 0 4px var(--nav-background-color);
    opacity: .85;
    width: 90%;
}
article p {
    color: var(--nav-hover-background-color);
}
div section {
    position: absolute;
}
.hero > img {
    display: block;
    width: 100%;
    height: auto;
}
article > img {
    display: block;
    float: right;
    width: 150px;
    height: auto;
}
nav a img {
    width: 50px;
    padding: .4rem;
}
footer {
    display: grid;
    background-color: var(--nav-background-color);
    padding: 1rem;
}
footer nav {
    display: flex;
}
footer p {
    grid-column: 1/2;
    color: var(--accent1-color);
    
}
footer nav a {
    text-decoration: none;
}
footer nav {
    grid-column: 2/4;
    justify-self: right;
}
.history > img {
    width: 100%;
    height: auto;
    float: right;
    justify-self: center;
    align-self: center;
}
.history {
    display: grid;
    align-content: center;
}
.history h2, .adventure h2 {
    grid-row: 1;
    grid-column: 1/4;
    text-align: center;
    margin-bottom: 0;
}
.history img {
    grid-row: 2/3;
    grid-column: 2/3;
}
.history .p-1 {
    grid-column: 1/2;
    grid-row: 2/3;
    padding: 1em;
    margin-top: 0;
}
.history .p-2 {
    grid-column: 3/4;
    grid-row: 2/3;
    padding: 1em;
    margin-top: 0;
}
.adventure {
    display: grid;
}
.adventure div {
    display: flex;
}
figure img {
    max-width: 100%;
    height: auto;
    border-radius: .3em;
}
figure {
    margin: 1em;
    color: var(--accent1-color);
    /* opacity: .8; */
    font-size: small;
    background-color: var(--nav-background-color);
    border-radius: .3em;
}
figcaption {
    padding-left: .5em ;
}