* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    background-color: steelblue;
    padding: 10px;
}
 nav a {
    color: white;
    display: block;
    padding: 20px;
}
h1 {
    color:steelblue;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}
main {
    max-width: 840px;
}
aside {
    margin: 1em;
    border: 1px solid rgb(0, 0, 0, .5) ;
    padding: 4em;
    background-color: rgb(54,69,89, .7);
    color: whitesmoke;
    width: 30em;
    text-align: center;
    position: relative;
}
aside > img {
    width: 200px;
    height: auto;
}
footer {
    margin-top: 1rem;
    border-top:rgb(0, 0, 0, .5) solid 1px;
    text-align: center;
}
/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px;
    padding: 1rem;
    background-color: grey;
    color: black;
}
aside h2 {
    position: absolute;
    top: -10px;
    right: .7em;
}
img {
    float: right;
}